.contact-hero {
  height: 305px;
}

.left-section {
  padding-right: 2rem;
}

.right-section {
  padding-left: 2rem;
}

.wrapper {
  height: 990px;
}
.info-form-wrapper {
  background-color: #5A1B0E;
  height: 990px;
  /* margin-bottom: 0; */

}

.contact-header {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #EFCD77;
}

.contact-wrapper {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  max-width: 70%;
  /* height: 100vh; */
  min-height: 550px;
  background-color: #5A1B0E;
  margin: 0 auto;
  padding-top: 4rem;
}

@media screen and (max-width: 990px) {

  .wrapper {
      height: 1300px;
    }
  .contact-wrapper {
    height: auto;
    flex-direction: column;
  }

  .left-section {
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .right-section {
    padding-left: 0;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .contact-wrapper {
      
      max-width: 90%;
      
    }
}