.footer-wrapper {
  background-color: #E5E3E4;
  color: #469597;
  padding: 20px;
}

.ui.grid {
  justify-content: center;
}

.row {
  margin-bottom: 2rem;
}

.header {
  color: #469597 !important;
  text-align:start;
}

a {
  list-style: none;
  color: #469597 !important;
  text-align: start;
}

@media only screen and (max-width: 1000px) {
  #email {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 767px) {
  .header, a {
    text-align: center;
  }
}