:root {
--grey: #E5E3E4(231, 212, 184, 0.808); 
--aqua:  #469597 (223, 219, 219);
--violet: #D0C9D0;
--pale-blue: #BBC6C8;
--navy: #6A7793;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
