.carousel {
    transition: 3000ms !important;
}

.carousel-item {
    opacity: 1;
    transition: 3000ms !important;
}

button.active {
    display: none !important;
}

.carousel-indicators {
    display: none !important;
}